{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block main %}
<h1>Sign up</h1>

{% if form %}
<div class="error">
    {{form.errors.username}}
    {{form.errors.password1}}
    {{form.errors.password2}}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input autofocus placeholder="username" type="text" name="username" class="form-element">
    <input placeholder="password" type="password" name="password1" id="password1" class="form-element">
    <input placeholder="confirm password" type="password" name="password2" id="password2" class="form-element">
    <span onclick="showPassword(false)" id="vis-off" class="material-symbols-outlined">
        visibility_off
    </span>
    <span onclick="showPassword(true)" id="vis-on" style="display:none" class="material-symbols-outlined">
        visibility
    </span>
    <button type="submit" class="dj-forms-btn form-element">Sign up</button>
</form>
{% load static %}
<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}